<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pay</title>
</head>
<body>

<h1>Make a Payment</h1>
<form method="post" action="{% url 'stk' %}">

    {% csrf_token %}

    <label for="phone">Phone Number :</label>
    <input type="number" name="phone" id="phone" value="254" required="required">
    <br><br>

    <label for="amount">Amount :</label>
    <input type="number" name="amount" id="amount" required="required">
    <br><br>

    <button type="submit">PAY</button>

</form>

</body>
</html>